<base id="ctx" href="${ctx}">
<base id="currentPage" data-value="${currentPage}">
<base id="totalPage" data-value="${totalPage}">
<base id="totalCount" data-value="${totalCount}">
<meta charset="UTF-8">
<#assign ctx="${request.contextPath}" />
<#assign currentPage="${currentPage}" />
<#assign totalPage="${totalPage}" />
<#assign totalCount="${totalCount}" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!--IE Compatibility modes-->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!--Mobile first-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta id="description" name="Description" content="${indexJsonObject.siteKeywords}" />
<meta id="keywords" name="Keywords" content="${indexJsonObject.siteKeywords}" />
<meta id="author" name="Author" content="" />
<#include "/include/csslibs.html">
<title id="czfyt_title">JLG蓄电池|吉尼电池|upright电瓶|haulotte电池|鼎力电瓶|skyjack电池|鼎力电池|snorkel电池</title>
<div class="inner">
    <div id="siteLogo" class="top-logo inner"> <a href="/" title="czfyt" id="web_logo"> <img src="${indexJsonObject.siteLogo}" alt="czfyt" title="czfyt" style="margin:15px 0px 0px 0px;" /> </a>
        <ul id="hotline" class="top-nav list-none">
            <li class="t">
                <a href='#' onclick='SetHome(this,window.location,"非IE浏览器不支持此功能，请手动设置！");' style='cursor:pointer;' title='设为首页'  >设为首页</a>
                <span>|</span><a href='#' onclick='addFavorite("非IE浏览器不支持此功能，请手动设置！");' style='cursor:pointer;' title='收藏本站'  >收藏本站</a>
            </li>
            <li class="b">
                <p> <strong>客服热线：<span style="font-size:14px;">${indexJsonObject.telPhone}</span></strong></p>
            </li>
        </ul>
    </div>
</div>
<div class="inner">
    <ul class="menu boxed clearfix" id="metismenu">
        <#list allCategory as item>
            <#if (item.inMenu == 1) >
                <li>
                <a id="${item.categoryId}" href="${item.urlPath}?id=${item.categoryId}" target="" title="${item.categoryName}">
                    ${item.categoryName}
                </a>
                <#if (item.treeLeaf == '0') >
                <ul>
                    <#list item.childList as childItem>
                        <li>
                            <#assign categoryId=(childItem.categoryId)>
                            <#assign childItemUrlPath="urlPath"+categoryId>
                            <a id="${childItem.categoryId}" href="${childItem[childItemUrlPath]}?id=${categoryId}" title="${childItem.categoryName}">${childItem.categoryName}</a>
                        </li>
                    </#list>
                </ul>
                </#if>
                </li>

            </#if>

        </#list>
    </ul>
</div>