<base id="ctx" href="${ctx}">
<base id="currentPage" data-value="${currentPage}">
<base id="totalPage" data-value="${totalPage}">
<base id="totalCount" data-value="${totalCount}">
<meta charset="UTF-8">
<#assign ctx="${request.contextPath}" />
<#assign currentPage="${currentPage}" />
<#assign totalPage="${totalPage}" />
<#assign totalCount="${totalCount}" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!--IE Compatibility modes-->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!--Mobile first-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta id="description" name="Description" content="&#84;&#45;&#49;&#48;&#53;&#30005;&#27744;&#65292;&#84;&#45;&#49;&#50;&#53;&#30005;&#27744;&#65292;&#84;&#45;&#49;&#52;&#53;&#30005;&#27744;&#65292;&#84;&#45;&#49;&#50;&#55;&#53;&#30005;&#27744;&#65292;&#74;&#51;&#48;&#53;&#71;&#45;&#65;&#67;&#30005;&#27744;&#65292;&#74;&#51;&#48;&#53;&#80;&#45;&#65;&#67;&#30005;&#29942;&#44;&#76;&#49;&#54;&#71;&#45;&#65;&#67;&#44;&#76;&#49;&#54;&#80;&#45;&#65;&#67;&#30005;&#29942;&#44;&#68;&#67;&#51;&#51;&#53;&#45;&#54;&#20813;&#32500;&#25252;&#30005;&#27744;&#65292;&#69;&#86;&#51;&#48;&#53;&#65;&#45;&#65;&#20813;&#32500;&#25252;&#30005;&#27744;&#65292;&#84;&#45;&#56;&#55;&#53;&#30005;&#27744;&#65292;&#84;&#69;&#51;&#53;&#30005;&#27744;&#65292;&#67;&#108;&#97;&#115;&#115;&#105;&#99;&#30005;&#27744;&#65292;&#71;&#70;&#48;&#54;&#49;&#54;&#48;&#86;&#33014;&#20307;&#30005;&#27744;" />
<meta id="keywords" name="Keywords" content="&#37041;&#20581;&#30005;&#29942;&#65292;&#32654;&#36890;&#30005;&#29942;&#65292;&#26364;&#23612;&#36890;&#30005;&#27744;&#65292;&#22374;&#33021;&#27927;&#22320;&#26426;&#30005;&#27744;&#65292;&#85;&#83;&#30005;&#27744;&#65292;&#85;&#83;&#30005;&#29942;&#65292;&#84;&#114;&#111;&#106;&#97;&#110;&#30005;&#29942;" />
<meta id="author" name="Author" content="常州福伊特商贸有限公司" />
<#include "/include/csslibs.html">
<title id="czfyt_title">&#103;&#101;&#110;&#105;&#101;&#30005;&#29942;&#124;&#116;&#114;&#111;&#106;&#97;&#110;&#30005;&#27744;&#124;&#116;&#114;&#111;&#106;&#97;&#110;&#30005;&#29942;&#124;&#74;&#76;&#71;&#33988;&#30005;&#27744;&#124;&#21513;&#23612;&#30005;&#27744;&#124;&#117;&#112;&#114;&#105;&#103;&#104;&#116;&#30005;&#29942;&#124;&#104;&#97;&#117;&#108;&#111;&#116;&#116;&#101;&#30005;&#27744;&#124;&#40718;&#21147;&#30005;&#29942;&#124;&#115;&#107;&#121;&#106;&#97;&#99;&#107;&#30005;&#27744;&#124;&#40718;&#21147;&#30005;&#27744;&#124;&#115;&#110;&#111;&#114;&#107;&#101;&#108;&#30005;&#27744;</title>
<div class="inner">
    <div id="siteLogo" class="top-logo inner"> <a href="/" title="czfyt" id="web_logo"> <img src="${indexJsonObject.siteLogo}" alt="czfyt" title="czfyt" style="margin:15px 0px 0px 0px;" /> </a>
        <ul id="hotline" class="top-nav list-none">
            <li class="t">
                <a href='#' onclick='SetHome(this,window.location,"非IE浏览器不支持此功能，请手动设置！");' style='cursor:pointer;' title='设为首页'  >设为首页</a>
                <span>|</span><a href='#' onclick='addFavorite("非IE浏览器不支持此功能，请手动设置！");' style='cursor:pointer;' title='收藏本站'  >收藏本站</a>
            </li>
            <li class="b">
                <p> <strong>客服热线：<span style="font-size:14px;">${indexJsonObject.telPhone}</span></strong></p>
            </li>
        </ul>
    </div>
</div>
<div class="inner">
    <ul class="menu boxed clearfix" id="metismenu">
        <#list allCategory as item>
            <#if (item.inMenu == 1) >
                <li>
                <a id="${item.categoryId}" href="${item.urlPath}?id=${item.categoryId}" target="" title="${item.categoryName}">
                    ${item.categoryName}
                </a>
                <#if (item.treeLeaf == '0') >
                <ul>
                    <#list item.childList as childItem>
                        <li>
                            <#assign categoryId=(childItem.categoryId)>
                            <#assign childItemUrlPath="urlPath"+categoryId>
                            <a id="${childItem.categoryId}" href="${childItem[childItemUrlPath]}?id=${categoryId}" title="${childItem.categoryName}">${childItem.categoryName}</a>
                        </li>
                    </#list>
                </ul>
                </#if>
                </li>

            </#if>

        </#list>
    </ul>
</div>