<script src="${ctx}/jquery/jquery.min.js"></script>
<script src="${ctx}/swiper/js/swiper.min.js"></script>
<script src="${ctx}/bootstrap/js/bootstrap.min.js"></script>
<script src="${ctx}/common/js/Utils.js"></script>
<script src="${ctx}/common/js/Http.js"></script>
<script src="${ctx}/common/js/Constants.js"></script>
<script src="${ctx}/common/js/Helper.js"></script>
<script src="${ctx}/common/js/AppCommon.js"></script>
<script src="${ctx}/common/js/index.js"></script>
<script src="${ctx}/common/js/about.js"></script>
<script src="${ctx}/jqueryPagination/js/pagination.min.js"></script>
<script src="${ctx}/common/js/productList.js"></script>