<!DOCTYPE html>
<html lang="zh-CN">
<head>
    #include("../../assets/html/head.html")
</head>
<body>
<div class="inner met_flash">
    <div class="flash"> <img src='../../assets/img/banner1.jpg' width='990' alt='' height='200'></div>
</div>
<div class="sidebar inner">
    #include("../../assets/html/left.html")
    <div class="sb_box br-bg">
        <h3 class="title">
            <div class="position">当前位置：<a href="/" title="首页">首页</a> &gt; 公司相册</div>
            <span>公司相册</span> </h3>
        <div class="clear"></div>
        <div class="active" id="imglist">
            <ul class='list-none metlist'>
                <li class='list' style='width:223px; margin-left:11px; margin-right:11px;'><a href='' title='' target='_self' class='img'><img src='' alt='' title='' width='221' height='130' /></a><h3><a href='[list:link]' title='[list:title]' target='_self'>title</a></h3></li>
            </ul>
                <div class="clear"></div>
        </div>
        <!--分页-->

    </div>
    <div class="clear"></div>
</div>
#include("../../assets/html/footer.html")
</body>
</html>
